.btn {
  display: flex;
  justify-content: center;
  border: 1px solid var(--accent-color);
  max-width: 300px;
  width: 100%;
  cursor: pointer;
  color: var(--accent-color);
}

.btn-text {
  font-size: 1.2rem;
  font-weight: 600;
}

.btn:hover {
  border: 1px solid var(--light-grey);
  background: var(--accent-color)
}

.btn:hover p  {

  color: var(--light-grey);
}