@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400;500;600;700;800&display=swap');

:root {
  --dark-grey: #4C4C4C;
  --light-grey: #7A7A7A;
  --accent-color: #FF7F50;
  --off-white: rgb(231, 227, 227);  
}

body {
  font-family: 'Poppins', sans-serif;
  background: var(--dark-grey);
  color: var(--off-white)
}

.main {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 10px;
  width: 100%
}
